.aboutMe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 150px;

    .aboutMeInner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;

        .aboutMeContent {
            font-size: 18px;
        }
    }

    .aboutMeEd {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;

        .edContent {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;
        }
    }
}

.aboutisTitle {
    font-size: 42px;
    font-weight: bolder;
    color: #979ae6;
}