.aboutMe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 150px;

    .aboutMeInner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;

        .aboutMeTitle {
            width: 260px;
        }

        .aboutMeContent {
            font-size: 18px;
        }
    }

    .aboutMeEd {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;

        .edTitle {
            width: 580px;
        }

        .edContent {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;
        }
    }
}

.deTitle {
    width: 540px;
}