.aboutMeCardWrap {
    width: 1000px;
    border-bottom: 2px solid #6b6b6b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    padding: 32px;

    .aboutTitle {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .titleContent {
            color: rgb(236, 236, 236);
            font-size: 24px;
            font-weight: bold;
        }
    }

    .aboutSubTitle {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .subTitle {
            display: flex;
            align-items: center;
            gap: 50px;
        }

        .subCalender {
            img {
                margin-right: 10px;
            }
        }
    }

    .subImport {
        padding-left: 50px;
        color: rgb(233, 233, 233);
    }
}

.asdasd {
    padding-left: 50px;
    color: rgb(233, 233, 233);
}