.aboutMe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 300px;

    .aboutMeInner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;

        .aboutMeTitle {
            width: 260px;
        }

        .aboutMeContent {
            font-size: 22px;
            line-height: 35px;
            color: rgb(204, 204, 204);
        }
    }

    .aboutMeEd {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;

        .edTitle {
            width: 580px;
        }

        .edContent {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;
        }
    }
}

.aboutMeDe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.deTitle {
    width: 540px;
}