.cardWrap {
    display: flex;

    .cardImage {
        height: 350px;

        img {
            height: 100%;
        }
    }

    .cardContent {
        display: flex;
        flex-direction: column;
        padding: 30px;
        gap: 30px;

        .cardTitle {
            font-size: 32px;
            color: #fff;
        }

        .cardSub {
            font-size: 18px;
            line-height: 30px;
        }
    }
}