.headerWrap {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;




    .menuWrap {
        ul {
            display: flex;
            justify-content: center;
            align-items: center;

            li {
                padding: 10px 50px;
                color: #A7A7A7;
                font-size: 20px;

                :hover {
                    color: #ebebeb;
                }
            }
        }
    }
}