@import url(./global.css);
@import url(./header.scss);
@import url(./myself.scss);
@import url(./techstack.scss);
@import url(./project.scss);
@import url(./footer.scss);
@import url(./aboutmeCard.scss);

.website {
    background-color: #191919;
    padding: 20px 150px;
    color: #A7A7A7;
    display: flex;
    flex-direction: column;
    gap: 300px;
}

.title {
    color: rgb(236, 236, 236);
    font-size: 52px;
    font-weight: bold;
    position: relative;
}

.title::after {
    content: "";
    /* 의사 요소에 콘텐츠를 추가 */
    position: absolute;
    bottom: -8px;
    /* 텍스트 아래에 밑줄이 오도록 위치 조정 */
    left: 50%;
    transform: translateX(-50%);
    width: 65%;
    height: 3px;
    background-color: #db7b21;
    /* 주황색 밑줄 */
}

.subtitle {
    font-size: 32px;
}