.myselfWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .myselfContent {
        line-height: 90px;
        font-size: 48px;
        font-weight: bold;

        .myName {
            color: #db7b21;
            font-size: 56px;
        }
    }

    .myselfImage {
        // background-color: #fff;
        width: 500px;
        height: 500px;

        img {
            width: 110%;
            height: 110%;
        }
    }
}